@media (max-width:767px){
    .navbar > .container {
    min-width: 100%;
}
   .index2{
         height:400px;
     }
   
   
}
@media (min-width:768px) and (max-width:991px){
     .navbar > .container {
    min-width: 100%;
}
   .index2{
         height:400px;
     }


}
@media (min-width:992px) and (max-width:1199px){
      .navbar > .container {
    min-width: 100%;
}
      .index2{
         height:550px;
     }

} 
@media (min-width:1200px) and (max-width:1399px){
    .index2{
         height:600px;
     }

}
@media (min-width:1400px){

}